<h5>Exemplos de Pipes</h5>

<p>Descrição: {{ produto.descricao | lowercase | camelCase }}</p>
<p>Data de Validade: {{ produto.validade | date }}</p>
<p>Preço de Custo: {{ produto.custo | currency:'BRL':true }}</p>
<p>Preço de Venda: {{ produto.venda | currency:'BRL':true }}</p>
<br><br>
<p>Produto: {{ produto | json}}</p>

<input type="text" [(ngModel)]="filtro">
<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>

<br><br> Pipe Puro <br><br>
<ul>
    <li *ngFor="let l of livros | filtroArray:filtro" >
        {{ l }}
    </li>
</ul>

<br><br> Pipe Impuro <br><br>
<ul>
    <li *ngFor="let l of livros | filtroArrayImpuro:filtro" >
        {{ l }}
    </li>
</ul>

<br><br> Maneira correta de fazer filtro nos projetos <br><br>
<ul>
    <li *ngFor="let l of obterCursos()" >
        {{ l }}
    </li>
</ul>
